.body_backgorund 
{
    background-image:url(hOye.gif);
    background-position:center;
    background-size:cover;
}
#myCanvas
{
  boarder-width:10px; 
  background-color:white;
  boarder-style:ridge;
  boarder-color:darkviolet;

}

